@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  background-color: #272647;
  font-family: "Outfit", serif;
  margin: 30px;
}

/* NAVBAR */

.navbar {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  margin-bottom: 25px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  margin: 7px;
  width: 35px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* CIRCLES */

.circleOne {
  background-color: #7571ff;
  height: 342px;
  width: 342px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  top: -30%;
  right: -9%;
}
.circleTwo {
  background-color: #baf2ff;
  height: 342px;
  width: 342px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  filter: blur(120px);
  left: -25%;
  bottom: -5%;
}
